/* Mon code */
body {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #0077b5;
    text-decoration: underline;
}

nav {
    width: 100%;
}

nav .link-navigator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav .link-navigator li {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 5.1111111111;
    color: #000000;
    font-family: Roboto, 'Source Sans Pro';
    white-space: nowrap;
}

section {
    display: flex;
    justify-content: center;
    align-items: start;
}

#section-welcome .accueil-messages {
    display: flex;
    flex-direction: column;
}

.accueil-messages {
    padding-left: 5%;
}

.accueil-slogan {
    color: #1C1B1F;
    font-family: Roboto;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px;
    /* 147.692% */
    letter-spacing: -2.6px;
}

.accueil-sous-slogan {
    color: var(--Subtitles, #425466);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    /* 141.667% */
}

#section-download {
    background: var(--primary-color, #0077B5);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 462px;
    flex-shrink: 0;
}

.download-message {
    color: #FFF;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 59px;
    /* 147.5% */
    letter-spacing: -1.6px;
}

.download-button {
    border: 10px;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-download-button {
    padding: 10px 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.section-download1 {
    padding: 10px 50px;
}

.feature-messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10;
}

.feature-message {
    color: #000;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    width: 600px;
}
.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ellipse1 {
    border-radius: 50%;
    background-color: #14804A;
    width: 50px;
    height: 50px;
}
.ellipse2 {
    border-radius: 50%;
    background-color: #F0BD58;
    width: 50px;
    height: 50px;
}
.ellipse3 {
    border-radius: 50%;
    background-color: #0077B5;
    width: 50px;
    height: 50px;
}
.ellipse4 {
    border-radius: 50%;
    background-color: #D12953;
    width: 50px;
    height: 50px;
}
#section-contact{
    background: var(--primary-color, #0077B5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}
.contact-us{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
}
.contact-us-text{
    text-align: center;
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


input, textarea{
    width: 1097px;
height: 66px;
flex-shrink: 0;
border-radius: 10px;
background: rgba(251, 252, 253, 0.94);
border-radius: 10px;
border: none;
padding-left: 20px;
}
textarea{
    padding-top: 20px;
    height: 212px;
}
input:focus{
    border: none;
}
.submit-button{
    width: 337.038px;
height: 56px;
flex-shrink: 0;
background: rgba(251, 252, 253, 0.65);

color: #000;
text-align: center;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
cursor: pointer;
}


footer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}
/* Fin de mon code */